<form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"  novalidate>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label for="name">Votre pseudo :</label>
        <input [(ngModel)]="form.name" required type="text" id="name" name="name" #name="ngModel">
      </div>
      <div class="col">
        <label for="password">Votre mot de passe :</label>
        <input type="password" [(ngModel)]="form.password" id="password" name="password" autocomplete="on">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary">Se connecter</button>
      </div>
    </div>
  </div>
</form>

